# opencv-python-headless is used instead of opencv-python to avoid unnecessary GUI dependencies
# gdown is used to download the dataset from Google Drive
# albumentations is used for data augmentation
# matplotlib is used for plotting images
# numpy is used for numerical operations
# uuid is used to generate unique IDs for the images
# streamlit is used for creating the web application
# tensorflow and keras are used for building and training the deep learning model
# Pillow is used for image processing

streamlit
tensorflow
keras
pillow
opencv-python-headless
numpy
uuid
albumentations
matplotlib
numpy
gdown

